#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Rubik", sans-serif;
  /*? ================ VARIABLES ================== */
  --color-one: #4c6085;
  --color-two: #39a0ed;
  --color-three: #4295b1;
}
/*! ============== SELECTOR GNAL AND UNIVERSAL ================= */
.flex {
  display: flex;
  flex-direction: row;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
}
.mgten {
  margin-left: 10%;
  margin-right: 10%;
}
/*?=============== LOADER =============== */
.loader {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 110;
  backdrop-filter: blur(5px);
}
/*?============ LINKS STYLES =========== */
.ecomerce--link-home {
  text-decoration: none;
}
.links--header {
  text-decoration: none;
  color: var(--color-two);
}
/*! ===================== HEADER  ==================== */
.header {
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px var(--color-three);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-one);
}
/*? ========= NAV ============ */
.header--nav {
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}
.header--nav strong {
  color: var(--color-two);
  font-size: 2em;
  cursor: pointer;
}

/** ============ UL CONTAINER =============  */
.header--ul-container {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 40vw;
  padding-left: 0;
  justify-content: space-around;
  gap: 20px;
  list-style: none;
}
.header--ul-container li {
  /* border: 2px solid var(-); */
  width: 80px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.header--ul-container li:hover {
  box-shadow: 3px 3px 4px var(--color-three);
  color: var(--color-three);
  cursor: pointer;
}
/*! ============== CONTENT SEARCH FILTER ======== */
.content--filter-input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 300px;
}
/*? =============== CONTENT SEARCH ============= */
.search--input {
  width: 81%;
  padding: 9px;
}
/*? ============= CONTENT FILTER ============ */
/** ==== GLOBAL ACCORDION ==== */
.accordion-button {
  padding: 10px 20px 10px;
}
/** ========== CONTENT input PRICE ========== */
.content--price {
  gap: 5px;
}
.content--from-to {
  justify-content: space-between;
}
.content--from-to input {
  width: 150px;
}
/** ========== CONTENT CATEGORY =========== */
.content--filter-ul {
  padding-left: 0;
  list-style: none;
  gap: 1px;
}
.filter--item {
  width: 100%;
}
/*! ================== UL PRODUCTS ================== */
.products--container-ul {
  list-style: none;
  padding-left: 0px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
}
/** ====== THE LINKER ========== */
.products--item__link {
  text-decoration: none;
  color: black;
}
.products--item__link :hover {
  color: var(--color-two);
}
.products--item {
  width: 300px;
  border: 3px solid var(--color-three);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
/* IMAGEN */
.products--img {
  height: 250px;
  position: relative;
}
.img--img {
  height: 100%;
  background-color: white;
}
.products--img__one {
  position: absolute;
  opacity: 1;
  z-index: 10;
}
.products--img__one:hover {
  opacity: 0;
  transition: opacity 0.5s;
}
/* INFORMATION */
.products--info {
  padding: 0px 25px 20px;
  border-top: 1px solid var(--color-three);
  align-items: flex-start;
  gap: 10px;
}
/*========= ICON ADD PRODUCT =========== */
.products--add-icon {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: var(--color-three);
}

/*! ================ FOOTER ================= */
.footer {
  width: 100%;
  height: 250px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: var(--color-one);
}
.footer--content-icons {
  padding-left: 0;
  gap: 30px;
  list-style: none;
}
.footer--content-icons li {
  width: 60px;
  color: var(--color-two);
}
.footer--content-icons li :hover {
  cursor: pointer;
}

/*! ============== SECTION PRODUCT ID ============= */
/*? ========== CONTENT MAIN PRODUCT ======== */
.main--content-product {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
}
/*? ======= COMPONENT SLICE GALERRY ======== */
.slice--content {
  width: 320px;
  background-color: white;
}
.slice--img {
  height: 300px;
}
/** ============ CONTENT INFO PRODUCT ============= */
.content--product-info {
  text-align: initial;
}
/* content price quantity */
.content--price-quan {
  justify-content: space-around;
  margin-bottom: 30px;
}
.content--quantity-product {
  align-items: center;
  gap: 5px;
}
.content--quantity-product button {
  padding: 3px 10px;
  border-radius: 20px;
}

.content--product-info button {
  width: 100%;
}

.aside {
  text-align: start;
}
/*! ========== LOGIN ============== */
.form--login {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  align-items: center;
}
/*? =========== COMPONENT LOGED =========== */
.login--content-loged {
  width: 300px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 5px solid var(--color-three);
  align-items: center;
  gap: 5px;
}
.login--icon-user {
  width: 80px;
  height: 80px;
  padding: 13px;
  border: 1px solid var(--color-three);
  color: var(--color-three);
  border-radius: 50px;
}
/*! ============= CONTENT PURCHASES ============== */
.purchases--content-list {
  padding-left: 0;
  list-style: none;
  gap: 30px;
}
.purchase--item {
  border: 1px solid var(--color-two);
  border-radius: 10px;
  text-align: start;
}
.purchase--date {
  border-bottom: 1px solid var(--color-two);
  padding: 10px;
}
/*? ========== PURCHASE INFO ========= */
.purchase--info {
  padding: 10px;
}
.purchase--content-ul {
  list-style: none;
  padding-left: 0;
  gap: 20px;
}
.purchase--item-info {
  /* justify-content: space-between; */
  border-bottom: 1px solid var(--color-three);
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.purchase--item-info small {
  display: inline-block;
  width: 300px;
}
/*! =============== CART ========== */
.cart {
  width: 350px;
  height: 100%;
  padding: 80px 20px 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  text-align: start;
  background-color: var(--color-one);
}
.cart--icon-exit {
  position: absolute;
  top: 30px;
  right: 30px;
}
/*? ============ CART LIST ITEMS =========== */
.cart--content {
  height: 50vh;
  padding: 10px 20px 10px 40px;
  list-style: none;
  gap: 20px;
  overflow-y: auto;
}
.cart--item {
  width: 100%;
  color: white;
}
.cart--title {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cart--title-quan {
  justify-content: space-between;
}
